{% extends 'calendars/base.html' %}
{% block title %}Work Entry List{% endblock %}
{% block content %}
    <h1>Work Entry List for {{ week }}</h1>
    <a href="{% url 'calendars:work_entry_create' week.pk %}" class="btn btn-primary mb-3">Add Work Entry</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client</th>
                <th>Employee</th>
                <th>Hours Worked</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for work_entry in work_entries %}
                <tr>
                    <td>{{ work_entry.client }}</td>
                    <td>{{ work_entry.employee }}</td>
                    <td>{{ work_entry.hours_worked }}</td>
                    <td>
                        <a href="{% url 'calendars:work_entry_delete' week.pk work_entry.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
