{% extends 'clients/base.html' %}
{% load widget_tweaks %}


{% block title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} Employee{% endblock %}
{% block content %}
    <h1 class="mb-4">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Employee</h1>


    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                {{ form.first_name|add_class:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                {{ form.last_name|add_class:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Is Driver</div>
            <div class="col-sm-10">
                <div class="form-check">
                    {{ form.is_driver|add_class:'form-check-input' }}
                    <label class="form-check-label" for="{{ form.is_driver.id_for_label }}">
                        Check if the employee is a driver
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.hourly_salary.id_for_label }}" class="col-sm-2 col-form-label">Hourly Salary</label>
            <div class="col-sm-10">
                {{ form.hourly_salary|add_class:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.work_location.id_for_label }}" class="col-sm-2 col-form-label">Work Location</label>
            <div class="col-sm-10">
                {{ form.work_location|add_class:'form-control' }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Add{% endif %} Employee</button>
                <a href="{% url 'employees:employee_list' %}" class="btn btn-secondary">Back to Employee List</a>
            </div>
        </div>
    </form>
{% endblock %}
