{% extends 'employees/base.html' %}
{% block title %}Employee List{% endblock %}
{% block content %}
    <h1>Employee List</h1>
    <a href="{% url 'employees:employee_create' %}" class="btn btn-primary mb-3">Add Employee</a>
    <table class="table table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Is Driver</th>
                <th>Hourly Salary</th>
                <th>Work Location</th>
                <th>Date Joined</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td>{{ employee.is_driver }}</td>
                    <td>{{ employee.hourly_salary }}</td>
                    <td>{{ employee.work_location }}</td>
                    <td>{{ employee.date_joined }}</td>
                    <td>
                        <div class="d-flex flex-wrap">
                            <a href="{% url 'employees:employee_update' employee.pk %}" class="btn btn-warning btn-sm mr-2 mb-2">Edit</a>
                            <a href="#" onclick="confirmDelete({{ employee.pk }})" class="btn btn-danger btn-sm mb-2">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
<script>
  function confirmDelete(employeeId) {
    if (confirm("Are you sure you want to delete this employee?")) {
      window.location.href = "{% url 'employees:employee_delete' 0 %}".replace('0', employeeId);
    }
  }
</script>
{% endblock %}
