{% extends 'employees/base.html' %}
{% load custom_filters %}

{% block title %}Employee Detail{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <!-- Employee Details Card -->
<div class="container mt-5">
    <div class="card border-primary mb-3 shadow">
        <div class="card-header {% if employee.is_driver %}bg-success{% else %}bg-primary{% endif %} text-white text-center">
            <h2 class="mb-0">{{ employee.first_name }} {{ employee.last_name }}</h2>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Contact:</strong></h5>
                        <p class="card-text pl-2">{{ employee.phonenumber }}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Hourly Salary:</strong></h5>
                        <p class="card-text pl-2">${{ employee.hourly_salary }}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Total Revenue:</strong></h5>
                        <p class="card-text pl-2">${{ total_revenue|format_number_with_commas }}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Work Location:</strong></h5>
                        <p class="card-text pl-2"><a href="{% url 'clients:client_view' pk=employee.work_location.pk %}">{{ employee.work_location }}</a></p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Date Joined:</strong></h5>
                        <p class="card-text pl-2">{{ employee.date_joined|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'employees:employee_update' employee.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'employees:employee_list' %}" class="btn btn-secondary">Back to Employee List</a>
            </div>
        </div>
    </div>
</div>

        <!-- Chart.js Card -->
        <div class="card shadow-lg mb-4">
            <div class="card-body">
                <!-- Canvas element where Chart.js will render the chart -->
                <canvas id="workChart"></canvas>
            </div>
        </div>

        <!-- Table for weekly work details -->
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                    <th>Week</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Total Hours</th>
                    <th>Total Pay</th>
                    <th>Bonus</th>
                    <th>Hourly Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for work in work_data %}
                <tr>
                    <td>
                        <a href="{% url 'week:week_view' work.week.pk %}">
                            {{ work.week.start_date|date:"F j, Y" }} - {{ work.week.end_date|date:"F j, Y" }}
                        </a>
                    </td>
                    <td>{{ work.monday }}</td>
                    <td>{{ work.tuesday }}</td>
                    <td>{{ work.wednesday }}</td>
                    <td>{{ work.thursday }}</td>
                    <td>{{ work.friday }}</td>
                    <td>{{ work.saturday }}</td>
                    <td>{{ work.sunday }}</td>
                    <td>{{ work.total_hours }}</td>
                    <td>{{ work.total_pay }}</td>
                    <td>{{ work.bonus }}</td>
                    <td>{{ employee.hourly_salary }}</td>

                </tr>
                {% endfor %}
            </tbody>
                    </table>
                </div>
            </div>
        </div>


<script>
    window.onload = function() {
  var ctx = document.getElementById('workChart').getContext('2d');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for data in work_data %}'{{ data.week.start_date|date:"F j, Y" }}',{% endfor %}],
        datasets: [{
            label: 'Weekly earnings based on the week',
            data: [{% for data in work_data %} '{{ data.total_pay }}',{% endfor %}],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
          }]
      },
       options: {
          scales: {
              x: {
                  title: {
                      display: true,
                      text: 'Particular Week'
                  }
              },
              y: {
                  title: {
                      display: true,
                      text: 'Earnings in $'
                  }
              }
          }
      }
  });
}
</script>
{% endblock %}


