{% extends 'clients/base.html' %}
{% load custom_filters_client %}
{% load custom_filters %}

{% block title %}Client List{% endblock %}
{% block content %}






<div class="container mt-5">
    <div class="card border-primary mb-3 shadow">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Client List</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Total number of clients:</strong></h5>
                        <p class="card-text pl-2">{{ total_clients }}</p>
                    </div>
                </div>
                <div class="col-md-6 text-md-right">
                <a href="{% url 'clients:client_create' %}" class="btn btn-primary">Add Client</a>
                <a href="{% url 'clients:client_export' %}" class="btn btn-primary ml-2">Export Clients</a>
                </div>
            </div>
        </div>
    </div>
</div>




    <table id="clientTable" class="table table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Resource</th>
                <th>Location</th>
                <th>Date Joined</th>
                <th>Contact</th>
                <th>Number of Employees</th>
                <th>Hourly Rate Morning</th>
                <th>Hourly Rate Evening</th>
                <th>Hourly Rate Night</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.contact_resource }}</td>
                    <td>{{ client.location }}</td>
                    <td>{{ client.date_joined|date:"F j, Y" }}</td>
                    <td>
                        <p>{{ client.email }}</p>
                        <p>{{ client.phonenumber }}</p>
                    </td>
                    {% with client.pk as client_pk %}
                        <td>{{ client_employee_count|get_item:client_pk }}</td>
                    {% endwith %}
                    <td>
                       {{ client.hourly_rate_morning }}$
                    </td>
                    <td>
                       {{ client.hourly_rate_evening }}$
                    </td>
                    <td>
                       {{ client.hourly_rate_night }}$
                    </td>
                    <td>

                        <div class="d-flex flex-wrap">
                            <a href="{% url 'clients:client_view' client.pk %}" class="btn btn-success btn-sm mr-2 mb-2">View</a>
                            <a href="{% url 'clients:client_edit' client.pk %}" class="btn btn-warning btn-sm mr-2 mb-2">Edit</a>
                            <a href="#" onclick="confirmDelete({{ client.pk }})" class="btn btn-danger btn-sm mb-2">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

<script>

        $(document).ready(function() {
        $('#clientTable').DataTable({
            "language": {
                "emptyTable": "No clients found"
            },
            "pagingType": "full_numbers",
            "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "order": []
        });
    });


  function confirmDelete(clientId) {
    if (confirm("Are you sure you want to delete this client?")) {
      window.location.href = "{% url 'clients:client_delete' 0 %}".replace('0', clientId);
    }
  }
</script>
{% endblock %}
