{% extends 'clients/base.html' %}
{% block title %}Client Detail{% endblock %}
{% block content %}


<div class="container mt-5">
    <div class="card border-primary mb-3 shadow">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">{{ client.name }}</h2>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Location:</strong></h5>
                        <p class="card-text pl-2">{{ client.location }}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Email:</strong></h5>
                        <p class="card-text pl-2">{{ client.email }}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Phone:</strong></h5>
                        <p class="card-text pl-2">{{ client.phonenumber }}</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Date Joined:</strong></h5>
                        <p class="card-text pl-2">{{ client.date_joined|date:"F j, Y" }}</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Total Invoices Since the Beginning:</strong></h5>
                        <p class="card-text pl-2">{{ total_invoice }}$</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Total Pay (without bonuses):</strong></h5>
                        <p class="card-text pl-2">{{ total_pay_global }}$</p>
                    </div>
                    <div class="mb-2">
                        <h5 class="card-title text-primary"><strong>Total Employees:</strong></h5>
                        <p class="card-text pl-2">{{ employees.count }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">Back to Client List</a>
                <a href="{% url 'clients:client_edit' client.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'clients:client_list' %}" onclick="confirmDelete({{ client.pk }})" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>





    <div class="container mt-5">
        <!-- Canvas element where Chart.js will render the chart -->
        <canvas id="workChart"></canvas>

        <!-- Add Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Initialize chart -->
        <script>
        window.onload = function() {

            var ctx = document.getElementById('workChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in work_data %}'{{ data.week__start_date|date:"F j, Y" }}',{% endfor %}], // weeks
                   datasets: [
                    {
                        label: 'Weekly payments to employees',
                        data: [{% for data in work_data %} '{{ data.total_pay }}',{% endfor %}], // payments
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    },{
                        label: 'Weekly invoice',
                        data: [{% for data in invoice_data %} '{{ data.weekly_invoice }}',{% endfor %}], // invoice
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        tension: 0.1
                    },{
                        label: 'Brute Profit',
                        data: [{% for data in diff_data %} '{{ data.difference }}',{% endfor %}], // difference
                        fill: false,
                        borderColor: 'rgb(153, 102, 255)',
                        tension: 0.1
                    }
                ]

                },
                options: {
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Particular Week'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Amount in $'
                            }
                        }
                    }
                }
            });
        }
        </script>

    </div>



    <div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Employees Working for {{ client.name }}</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Hourly Salary</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                       <td {% if employee.is_driver %}style="background-color: #90EE90;"{% endif %}>
                        <a href="{% url 'employees:employee_view' employee.pk %}">
                            {{ employee.first_name }} {{ employee.last_name }}
                        </a>
                    </td>
                        <td>{{ employee.phonenumber }}</td>
                        <td>{{ employee.date_joined }}</td>
                        <td>{{ employee.hourly_salary }}</td>
                        <td>
                            <a href="{% url 'employees:employee_view' employee.pk %}" class="btn btn-info">View</a>
                            <a href="{% url 'employees:employee_update' employee.pk %}" class="btn btn-warning">Edit</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>






<script>
  function confirmDelete(clientId) {
    if (confirm("Are you sure you want to delete this client?")) {
      window.location.href = "{% url 'clients:client_delete' 0 %}".replace('0', clientId);
    }
  }
</script>
{% endblock %}
